@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 0;
}

.certificate{
  background: url("../../public/certiBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}